In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score 
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

# upload dfs

In [3]:
customers_df = pd.read_csv("/Users/jmadu1/Downloads/180601_Customer_Info.csv")
customers_df

      customer_id sign_up_date           sign_up_channel
0            2543   2021-04-26  Price Comparison Website
1            2181   2021-07-24                  Referral
2            2399   2020-10-11              Bulb Website
3             674   2021-04-04                  Referral
4            2332   2021-09-05  Price Comparison Website
...           ...          ...                       ...
1694          820   2021-07-17                  Referral
1695         1945   2020-12-20  Price Comparison Website
1696         2132   2021-11-29              Bulb Website
1697         2228   2021-10-11                  Referral
1698          722   2020-02-21              Bulb Website

[1699 rows x 3 columns]

In [5]:
referrals_df = pd.read_csv("/Users/jmadu1/Downloads/180601_Referrals_Info.csv")
referrals_df

    referral_date  referrer_customer_id  sign_up_customer_id
0      2021-07-18                   795                 1771
1      2021-04-12                   577                 1510
2      2021-07-07                   868                 1858
3      2021-10-25                   801                 1778
4      2021-08-15                   690                 1637
..            ...                   ...                  ...
995    2021-07-17                   812                 1789
996    2021-12-15                   156                 1031
997    2021-07-20                   601                 1537
998    2021-07-11                   440                 1350
999    2021-09-04                    55                  928

[1000 rows x 3 columns]

# inspect data

In [10]:
print(customers_df.shape)
customers_df.info

(1699, 3)

<bound method DataFrame.info of       customer_id sign_up_date           sign_up_channel
0            2543   2021-04-26  Price Comparison Website
1            2181   2021-07-24                  Referral
2            2399   2020-10-11              Bulb Website
3             674   2021-04-04                  Referral
4            2332   2021-09-05  Price Comparison Website
...           ...          ...                       ...
1694          820   2021-07-17                  Referral
1695         1945   2020-12-20  Price Comparison Website
1696         2132   2021-11-29              Bulb Website
1697         2228   2021-10-11                  Referral
1698          722   2020-02-21              Bulb Website

[1699 rows x 3 columns]>

In [9]:
referrals_df.shape

(1000, 3)